doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/src/css/main.css' rel='stylesheet')
  title Document
#nav
#content
  h1 hello world?
#footer
script(src='/src/lib/mithril.min.js')
script(src='/src/lib/Autonumeric.min.js')
script(src='/src/index.js' type='module')